.h1 {
  margin-bottom: 20px;
}

.calculator {
  width: 320px;
  border: 2px solid #47476b;
}

.maths {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "clear clear divide multi"
  "seven eight nine minus"
  "four five six ad"
  "one two three equal"
  "zeo zeo dec equal";
}

.face {
  min-height: 30px;
  background-color: black;
  color: white;
  text-align: right;
  font-size: 22px;
  word-wrap: break-word;
}

.consq {
  min-height: 20px;
  background-color: black;
  color: white;
  text-align: right;
  word-wrap: break-word;
  font-size: 18px;
}

.maths button {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.maths button:hover {
  color: black;
  border: 0.05em solid grey;
  z-index: 3;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero,
.decimal {
  color: white;
  border: 1px solid black;
  background: #4d4d4d;
}

.multiply,
.subtract,
.divide,
.add {
  background: rgb(102, 102, 102);
  color: white;
  border: 1px solid black;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.equals {
  grid-area: equal;
  height: 130px !important;
  color: white;
  border: 1px solid black;
  background: rgb(0, 68, 102);
}

.clear {
  grid-area: clear;
  color: white;
  border: 1px solid black;
  background: rgb(172, 57, 57);
}

.add {
  grid-area: ad;
}

.subtract {
  grid-area: minus;
}

.multiply {
  grid-area: multi;
}

.divide {
  grid-area: divide;
}

.zero {
  grid-area: zeo;
}

.decimal {
  grid-area: dec;
}